// ANGULAR MATERIAL
@use '@angular/material' as mat;
@include mat.core();
$imbCatalog-primary: mat.define-palette(mat.$indigo-palette);
$imbCatalog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$imbCatalog-warn: mat.define-palette(mat.$red-palette);
$imbCatalog-theme: mat.define-light-theme((
  color: (
    primary: $imbCatalog-primary,
    accent: $imbCatalog-accent,
    warn: $imbCatalog-warn,
  )
));
@include mat.all-component-themes($imbCatalog-theme);
// TOAST 
@import 'ngx-toastr/toastr';

body,
html {
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

$imb-primary: #221ECC;
$imb-grey: rgb(172, 172, 172);


/*----------CUSTOM BUTTONS----------*/
.imb-catalog-btn-primary {
    border: 0;
    padding: 5px 20px;
    background-color: $imb-primary;
    border-radius: 60px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
}

.imb-catalog-btn-primary:hover:enabled {
    color: #ffffff !important;
    opacity: 1 !important;
    transition: 0.2s;
}

.imb-catalog-btn-primary:disabled {
    opacity: 0.5;
}

.imb-catalog-btn-secondary {
  @extend .imb-catalog-btn-primary;
  background-color: $imb-grey;
}

.imb-catalog-btn-add {
    @extend .imb-catalog-btn-primary;
    width: 40px;
    border-radius: 50% !important;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.imb-catalog-btn-rm {
    @extend .imb-catalog-btn-add;
    background-color: $imb-grey;
}

/*----------Standard Input Style----------*/
input,
select {
    font-size: 14px;
}

::placeholder {
    color: $imb-grey;
    font-style: italic;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
