<div class="login-page">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <div>Please enter username as lisa or alan . Password canbe anything</div>
            <div class="form-group mt-2">
                <input type="text" name="username" formControlName="username" placeholder="Username">
            </div>

            <div class="form-group mt-2">
                <input type="password" name="password" formControlName="password" placeholder="Password">
            </div>

            <div>
                <button type="submit" class="login-btn mt-3">Login</button>
            </div>
        </form>
</div>
