<!--
This is a navigation bar component for the IMB Catalog.

It contains:
- An heading "IMB Catalog"
- A logout button represented by a span with a logout icon and the text "Logout".
  - The logout button is clickable and triggers the logout() method on click.
-->
<div class="nav-bar-custom h-100">
    <h5>IMB Catalog</h5>
    <div title="Logout" role="button" class="d-inline-flex font-weight-bold" (click)="logout()">
        <span class="material-symbols-outlined pointer" >
            logout
        </span> Logout
    </div>
</div>

